.bus {
  width: 25vh;
  max-width: 300px;
  transform: translate(80vw, -13.5vh);
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view()) {
      animation: appear linear both 0s;
      animation-timeline: view(-30rem 0);
      animation-range: contain;
      animation-duration: 1ms; /*Firefox requires this to apply the animation */
    }
  }
  /* view-timeline-name: --busReveal;
  animation-timeline: --busReveal; */
}

@keyframes appear {
  from {
    transform: translate(-15vw, -13.5vh);
  }
  to {
    transform: translate(120vw, -13.5vh);
  }
}
